{% extends "login/base.html" %}

{% block content %}
<h2>Login</h2>
{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}
<form action="{% url 'login:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="username">Username:</label><br/>
    <input class="form-control" type="text" id="username" name="username"><br/></div>
    <div class="form-group">
    <label for="password">Password:</label><br/>
    <input class="form-control" type="password" id="password" name="password"><br/></div>
    <button class="btn btn-primary" type="submit" value="Login">Log In</button>
</form>
{% endblock %}