<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="number" placeholder="Enter first number" name="input1" id="input1">
        <input type="number" placeholder="Enter second number" name="input2" id="input2">
        <select name="operations" id="operations">
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    {% if result is not None %}
        <h1>{{ result }}</h1>
    {% endif %}
</body>
</html>